.criacaoDeSite{background-color:#ffffff;}

#criacaoDeSite,#criacaoDeSistema{padding-top:50px;}
#criacaoDeSite>h2{color:#5da3af;margin-bottom:50px;}
#criacaoDeSite ol, #criacaoDeSistema ol{color:#000;}
#criacaoDeSite ol li,#criacaoDeSistema ol li{padding:5px;}
#criacaoDeSite h4, #criacaoDeSistema h4{color:#066a7b;}
#criacaoDeSite p,#criacaoDeSistema p{color:#000000; font-size:15px;}

.dark{background-color:#eee;}
figure.imgCriacaoDeSite,figure.imgCriacaoDeSistema{padding-top:40px;margin-left:30px;}
figure.imgCriacaoDeSite>figcaption,figure.imgCriacaoDeSistema>figcaption{color:#ccc;text-align:center;margin-top:8px;}
.nota p{background-color:#000000;color:#ffffff !important;}
