
/**DESTAQUE**/
.destaque{
    background-image: url(../img/fundoDestaque.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    min-height:500px;
  

}

.artigoFormMini{
    display:none;
	margin-top:60px;
	background-image: url(../img/bckForm.png);
	border-radius:8px;
	border: 10px solid transparent;
    padding: 15px;
    border-image: url(../img/bckBorderForm.png) 30% round;}

.chamada{display:none;}

.jumbotron header h1{color:#fffcf8;font-size:44px;}
.jumbotron header p{color:#ded7d7; font-size:18px;}
.jumbotron header p a{margin:0 auto; text-align:center;}
.logo-ni-sistemas{background-image: url(../)}
.top150{top:150px; margin:0 auto;}
#artigo-carrousel{
	@media(max-width:990px){display:none;}
}
.carousel-caption{padding-bottom:0 !important;}