.nihelpdesk{background-color:#fff;color:#e46e05; padding-top:60px;}
.nihelpdesk .thumbnail{background-color:transparent;border:0;}
.nihelpdesk .thumbnail img{margin:0;}
.nihelpdesk header{margin-bottom:50px;}
.nihelpdesk h3{color:#33b9c7;}
.nihelpdesk p{color:#02141f; font-size:larger;}